 body{
     background-color: aquamarine;
 }
 h3{
     color:firebrick;
 }
 h1{
     text-align: center;
     color: firebrick;
     padding-top: 1em;
     padding-bottom: 1em;
 }
 .other{
        padding-bottom: 1em;
        margin-left: 30%;

 }


 
#individual {
    width: 90px;

}
#company {
    width: 90px;
}
#hospital {
    width: 90px;
}
#form-group{
    padding-left: 40px;
}

#btn-submit {
    margin-top: 10px;
}