/* ford */
.flex-container{
    display: flex;
    margin: 40px;
    height: 50vh;   
};
.ford-1{
    float: left;
    margin: 40px;
    background-image: url("images/ford.png");
};
.ford{
    float: right;
    margin: 40px;
};


/* coca-cola */

.felx-container-1{
    display: flex;
    margin: 40px;
    height: 50vh;
};
.cocacola-1{
    float:left;
    margin: 40px;
    background-image: url("images/CocaCola_900.jpg");
};
.cocacola{
    float: right;
    margin: 40px;
};

/*  */
