 /* ford */
.flex-container{
    display: flex;
    margin: 40px;
    height: 50vh;   
};
.ford-1{
    float: left;
    margin: 40px;
    background-image: url("images/ford.png");
};
.ford{
    float: right;
    margin: 40px;
};


/* coca-cola */

.flex-container-1{
    display: flex;
    margin: 40px;
    height: 50vh;
};
.cocacola-1{
    float:left;
    margin: 40px;
    background-image: url("images/CocaCola_900.jpg");
};
.cocacola{
    float: right;
    margin: 40px;
};

/* guiness */
.flex-container-2{
    display: flex;
    margin: 40px;
    height: 50vh;
};
.guiness{
    float: right;
    margin: 40px;           
};
.guiness-1{
    float: left;
    margin: 40px;
    background-image: url("images/guiness.png");
};

/* safaricom */
.flex-container-3{
    display: flex;
    margin: 40px;
    height: 50vh;
};
.safaricom{
    float: right;
    margin: 40px;  
};
.safaricom-1{
    float: left;
    margin: 40px;
    background-image: url("images/safaricom.png");
};


