@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: 'Benne', serif;
    background-color: aqua;
}
h2, h3, h4, h5 {
    color: firebrick;
}