@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
body {
    background-color: aquamarine;
    text-align: center;
    color: firebrick;
    font-family: 'Benne', serif;
}
#recipient {
    margin-left: 25%;
    text-align: justify;
    color: firebrick;
    font-family: 'Benne', serif;
    font-size: 18px;
    
}
.tdona {
    padding-left: 20%;
    padding-top: 10px;
}

#blood_donor {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;

}

#blood_donor td {
    text-align: start;
    color: black;
}

#regret {
    color: black;
    text-align: center;
    font-size: 15px;

}

#send_msg {
    margin-left: 15%;
}
#send_msg h4 {
    margin-left: -35%;
}
 .modal-header, .close {
    background-color: aqua;
    color: firebrick !important;
    text-align: center;
    font-size: 20px;
    margin-bottom: -35px;
  } 

button#btn-submit {
    background-color: firebrick;
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 5%;

}
button#btn-msg {
    background-color: firebrick;
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 15%;

}